/* ============================================= */
/*                     Input                     */
/* ============================================= */

#search {
    border-radius: 7px;
    width: 50%;
    height: 40px;
    border: 2px solid $light-grey;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
